  {% extends "base.html"%}
  {% block content %}
      <style>.contact .info-box h3 {
        font-size: 20px;
        color: #777777;
        font-weight: 700;
        margin: 10px 0;
      }</style>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-up">
        <h1>Welcome to V</h1>
        <h2>Be Your Own Doctor</h2>
        <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
      </div>
    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">

          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
              <div class="content">
                <h3>V Group</h3>
                <p>
                  
  Predicting a specific disease based solely on symptoms can be challenging and is typically not reliable without a thorough examination and diagnostic testing by a qualified healthcare professional. Many symptoms can be associated with multiple conditions, and the same symptom can manifest differently in various individuals.

  However, advancements in healthcare, including artificial intelligence and machine learning, have led to the development of tools and models that aim to assist healthcare professionals in diagnosing diseases. These tools often analyze a combination of symptoms, medical history, and sometimes additional data like lab results or imaging studies.
              </p>
                <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Disease Prediction</h4>
                    <p>Empowering Health through Advanced Insights.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                     <i class="bx bx-receipt"></i>
                    <h4>Diabetes Prediction</h4>
                    <p>Anticipating Health for a Better Tomorrow.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-shield"></i>
                    <h4>Consult Expert Doctors</h4>
                    <p>Your Pathway to Expert Care and Wellness.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-images"></i>
                    <h4>Medical History</h4>
                    <p>Shaping Your Health Journey with Informed Care.</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>

        </div>
      </section><!-- End About Section -->

    

    

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">

          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Team</h2>
            <p>Powering Progress Together. Our Technical Team with the Best Skills in Thier Own Field.</p>
          </div>

          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="fade-up">
                <div class="pic"><img src="img/team/team-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Rushi Gokani</h4>
                  <span>Big Data Analysis</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="150">
                <div class="pic"><img src="img/team/team-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info" >
                  <h4>Rudra Patel</h4>
                  <span>Cloud Based Application</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="pic"><img src="img/team/team-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Pratham Dhanotiya</h4>
                  <span>Cyber Security</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Contact</h2>
            <p>Your Gateway to Exceptional Support and The Best Healthcare.</p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Ganesh Meridain, Kargil Cross Road, Ahmedabad, Gujarat, IN 380060</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>vdoctors@google.com</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+91 70160 31546</p>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-6 " >
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.57663711302!2d72.52394487509353!3d23.075977879136303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e834c4857596f%3A0xa0965704f9be238f!2sGanesh%20Meridian!5e0!3m2!1sen!2sin!4v1710388966384!5m2!1sen!2sin" width="600" height="450" style="border:0;border-radius: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-6">
              
              <form action="forms/contact.php" method="post" role="form" class="php-email-form" style="border-radius: 20px;">
                <h3 align="center" style="font-size: 25px;color: #777777;font-weight: 700;">Contact Us</h3>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->
      <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is V. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='img/chat.webp') }}" width="30px" /></button>
            </div>
        </div>
    </div>
    
        <script>
            $SCRIPT_ROOT = {{ request.script_root|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        </a>
    </main><!-- End #main -->

  

    {% endblock %}


